<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Resultado consulta: </h1>
    <% anuncios.forEach( anuncio => { %>
    <p> ------------------------------ </p>
        <p><%= anuncio.nombre %></p>
        <p><% if (anuncio.venta) { %>
        En venta</p>
    <% } else { %>
    <p> En búsqueda </p>
    <% } %>
        <p><%= anuncio.precio %></p>

    <p> ------------------------------ </p>
  <% }) %>
  </body>
</html>
